<?xml version="1.0"?>
<robot name="sophia_hexapod" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:arg name="use_gazebo" default="false"/>

    <xacro:include filename="$(find sophia_description)/urdf/mech/prosoma_chassis.urdf.xacro" />
    <xacro:include filename="$(find sophia_description)/urdf/mech/leg.urdf.xacro" />

    <xacro:if value="$(arg use_gazebo)">
        <xacro:include filename="$(find sophia_description)/urdf/gazebo/gazebo_config.urdf.xacro" />
    </xacro:if>

    <link name="base_footprint"/> <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.15" rpy="0 0 0"/> </joint>

    <xacro:prosoma_chassis base_link="base_link" prefix=""/>

    <xacro:property name="rf_yaw" value="pi/3"/>

    <xacro:macro name="origin_leg" params="yaw">
        <origin xyz="${chassis_radius * cos(yaw)} ${chassis_radius * sin(yaw)} 0.0" rpy="0 0 ${yaw}"/>
    </xacro:macro>

    <xacro:leg prefix="rf_" parent="base_link">
        <xacro:origin_leg yaw="${pi/3}"/>
    </xacro:leg>

    <xacro:leg prefix="rm_" parent="base_link">
        <xacro:origin_leg yaw="${0.0}"/>
    </xacro:leg>

    <xacro:leg prefix="rb_" parent="base_link">
        <xacro:origin_leg yaw="${-pi/3}"/>
    </xacro:leg>

    <xacro:leg prefix="lf_" parent="base_link">
        <xacro:origin_leg yaw="${2*pi/3}"/>
    </xacro:leg>

    <xacro:leg prefix="lm_" parent="base_link">
        <xacro:origin_leg yaw="${pi}"/>
    </xacro:leg>

    <xacro:leg prefix="lb_" parent="base_link">
        <xacro:origin_leg yaw="${4*pi/3}"/>
    </xacro:leg>

    <xacro:if value="$(arg use_gazebo)">
        <xacro:leg_gazebo_config prefix="rf_"/>
        <xacro:leg_gazebo_config prefix="rm_"/>
        <xacro:leg_gazebo_config prefix="rb_"/>
        <xacro:leg_gazebo_config prefix="lf_"/>
        <xacro:leg_gazebo_config prefix="lm_"/>
        <xacro:leg_gazebo_config prefix="lb_"/>
    </xacro:if>

</robot>